@import '../../partials/fonts';
@import '../../partials/mixins';

.sub-section {
    &__heading {
        font-weight: 500;
        color: $small-title-color;
        margin: 11% 0;

        @include tablet {
            margin: 5.5% 0;
        }
        @include desktop {
            margin: 10% 0;
        }
    }
}