@import 'partials/fonts';
@import 'partials/mixins';

body {
    font-family: 'Avenir';
}

.section-container {

    @include desktop {
        display: flex;
    }
  }
.main-section {

    @include desktop {
        width: 60%;
    }
}

.section-container {
    margin: 0 5%;

    @include tablet {
        margin: 0 3%;
    }
    
    @include desktop {
        margin: 0 10%;
    }
}

.sub-section {
    
}