@font-face {
    font-family: 'Avenir';
    src: url('../assets/_globalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf') format('OpenType');
}
@font-face {
    font-family: 'Avenir';
    src: url('../assets/_globalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf') format('OpenType');
    font-weight: bold;
}
@font-face {
    font-family: 'Avenir';
    src: url('../assets/_globalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf') format('OpenType');
    font-weight: 500;
}
@font-face {
    font-family: 'Avenir';
    src: url('../assets/_globalFont/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf') format('OpenType');
    font-weight: 600;
}