$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

$primary-background-color: #323232;
$secondary-background-color: #FAFAFA;
$small-title-color: #AFAFAF;
$circle-divider-color: #E1E1E1;
$button-color: #0095FF;

$hero-desktab-fontsize: 2.3rem;
$h1-desktab-fontsize: 2rem;
$h2-desktab-fontsize: 1rem;
$h3-desktab-fontsize: 0.9rem;
$h4-desktab-fontsize: 0.85rem;
$p-desktab-fontsize: 0.75rem;

$h1-mobile-fontsize: 1.5rem;
$h2-mobile-fontsize: 0.94rem;
$h3-mobile-fontsize: 0.88rem;
$h4-mobile-fontsize: 0.78rem;
$p-mobile-fontsize: 0.74rem;