@import '../../partials/fonts';
@import '../../partials/mixins';

input, textarea {
    font-family:'Avenir';
    font-size: $h3-mobile-fontsize;

    @include tablet {
        font-size: $h3-desktab-fontsize;
    }
    @include desktop {
        font-size: $h3-desktab-fontsize;
    }
}

.upload-section {
    margin: 0 5%;

    @include tablet {
        margin: 0 3%;
    }
    @include desktop {
        margin: 0 9%;
    }

    &__divider--thin {
        border-bottom: 1px solid $circle-divider-color;
        opacity: 0.5;

    }
    &__heading { 
        margin: 12% auto;

        @include tablet {
            font-size: $hero-desktab-fontsize;
            margin: 7% 0 4% 0;
        }
        @include desktop {
            margin: 5% 0 2.5% 0;
        }
    }
    &__video {

        @include desktop {
            width: 55%;
        }

        &-title {
            font-weight: 500;
            color: $small-title-color;
            letter-spacing: 0.3px;
            margin: 0;
            
            @include tablet {
                margin-top: 6%;
            }
        }
        &-thumbnail {
            width: 100%;
            max-width: 500px;
            border-radius: 5px;
            margin: 2% 0 7% 0;

            @include tablet {
                margin: 1% 0 4% 0;
                width: 50%;
                max-width: 700px;
            }
            @include desktop {
                width: 100%;
                max-width: 500px;
            }
        }
    }
    &__video-form-container {

        @include desktop {
            display: flex;
            margin-bottom: 2%;
        }
    }
    &__form-container {
        width: 100%;
    }
    &__form {

        @include desktop {
        margin: 3.1% 0 0.5% 3% ;
        }

        &-title {
            color: $small-title-color;
            margin: 1% 0;
            font-size: $p-mobile-fontsize;
            font-weight: 500;
            letter-spacing: 0.5px;
        }    
        &-input {
            background-color: $secondary-background-color;
            border: 2px solid $circle-divider-color;
            outline: none;
            border-radius: 4px;
            margin: 1% 0 7% 0;
            resize: none;
            width: stretch;
            padding: 15px 15px;

            @include tablet {
                margin: 0.3% 0 3% 0;
            }

            &-description {
                height: 18vh;

                @include tablet {
                    margin-bottom: 4.5%;
                }
                @include desktop {
                    height: 7.5vh;
                    margin: 0;

                }
            }
        }
    }
    &__divider--hidden {
        display: none;

        @include tablet {
            display: block;
            margin-bottom: 5%;
        }
        @include desktop {
            margin-bottom: 2%;
        }
    }
    &__form-options {

        @include tablet {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            padding-bottom: 20%;            
        }
        @include desktop {
            margin-top: 4%;
        }

        &-publish {
            width: 100%;

            @include tablet {
                width: 22%;
            }
            @include desktop {
                width: 16%;
            }
        }
        &-cancel {
            font-size: $h3-mobile-fontsize;
            font-weight: 600;
            color: $button-color;
            text-align: center;
            margin: 9% auto;

            @include tablet {
                margin: 0 7%;
            }
            @include desktop {
                margin: 0 5%;
            }
        }
    }
}