@import '../../partials/fonts';
@import '../../partials/mixins';

input {
    font-family:'Avenir';
    font-size: $h3-mobile-fontsize;

    @include tablet {
        font-size: $h4-desktab-fontsize;
    }
    @include desktop {
        font-size: $h4-desktab-fontsize;
    }
}
.comments-section {
    padding-bottom: 11%;

    @include tablet {
        padding-bottom: 5%;
    }
    @include desktop {
        padding-bottom: 3%;
    }

    &__heading {
        font-weight: 500;
        margin: 10% 0 8% 5%;
    }

    &__photo {
        background-image: url('../../assets/images/Mohan-muruge.jpg');
        background-size: cover;
        background-position: 10%;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin: 6% 4.5%;

        @include tablet {
            margin: 2.5%;
        }
        @include desktop {
            margin: 1.9%;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-right: 5.5%;
    
        @include tablet {
            margin-right: 10%;
        }
        @include desktop {
            margin-left: 13%;
        }
    }
    &__form {
        width: 74%;

        &-title {
            letter-spacing: 0.3px;
        }
        
        &-input {
            background-color: $secondary-background-color;
            border: 2.5px solid $circle-divider-color;
            outline: none;
            border-radius: 5px;
            margin-bottom: 5%;
            
            @include tablet {
                margin-bottom: 4%;
            }
            @include desktop {
                margin: 0 10% 3% 0;

            }

            &-comment {
                resize: none;
                font-family: 'Avenir';
                width: 86%;
                height: 13vh;
                padding: 6%;

                @include tablet {
                    width: 82%;
                    height: 11vh;
                    padding: 3%;
                }
                @include desktop {
                    font-size: $h4-desktab-fontsize;
                    width: 62%;
                    height: 11vh;
                    padding: 2%;
                }
            }
        }
        
        &-title {
            color: $small-title-color;
            margin: 1% 0;
            font-size: $p-mobile-fontsize;
            font-weight: 500;
            
            @include tablet {
                font-size: $p-desktab-fontsize;
            }
            @include desktop {
                font-size: $p-desktab-fontsize;
            }
        }
    }
    &__button {
        font-weight: 600;
        letter-spacing: 0.8px;
        float: right;
        color: white;
        font-size: $h3-mobile-fontsize;
        width: 100%;
        margin: 0 0 11% 0;
        height: 50px;
               
        @include tablet {
            font-size: $h4-desktab-fontsize;
            width: 37%;
            margin: 0 11.5% 5% 1%;
            padding: 4%;
        }
        @include desktop {
            font-size: $h4-desktab-fontsize;
            width: 26%;
            margin: 0 33.5% 3% 1%;
            padding: 2.8%;
        }
    }
}
