@import '../../partials/fonts';
@import '../../partials/mixins';

.main__hero {

    &-video-container {
        background-color: black;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    &-video {
        width: 100vw;  

        @include tablet {
            width: 91vw;
        }
        @include desktop {
            width: 72vw;
        }
    }   
}