@import '../../partials/fonts';
@import '../../partials/mixins';

.main__hero {
    
    &-video {
        width: 100%;
        position: relative;

        &-button {
            background-color: rgba(0,0,0,0.4);
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
        }
        &-icon {
            width: 18px;
            height: 20px;
            padding: 8px 15px;
            margin-right: 10px;
        }
        &-controls {
            display: flex;
            position: absolute;
            margin: -16% 4.5%;
            
            &-scrubber {
                width: 113px;
            }
            &-fullscreen {
                padding-right: 5px;
            }
            &-volume {
                margin-right: 0;
                padding-left: 0;
            }
        }
    }   
}