@import 'partials/fonts';
@import 'partials/mixins';

body {
    font-family: 'Avenir';
}
.section-container {
    margin: 0 5%;

    @include tablet {
        margin: 0 3%;
    }
    
    @include desktop {
        display: flex;
        margin: 0 9%;
    }
}
.main-section {

    @include desktop {
        width: 75%;
        border-right: 3px solid $circle-divider-color;
    }
}
.sub-section {
    @include desktop {
        margin: 0 0 3.5% 0;
    }
}
.side-section {
    @include desktop {
        margin: 0 0 0 2%;
    }
}
