<section className="header">
    <div className="header__parent">
        <div className="header__logo-container">
            <a href="index.html"><img src="/assets/logo/Logo-brainflix.svg" className="header__logo" alt="BrainFlix Logo"></img></a>
        </div>
        <div className="header__search-upload-photo-container">
            <form className="search-bar">
                <input type="text" className="search-bar__input" placeholder="Search"><a href="SEARCHURL"><img src="/assets/icons/SVG/Icon-search.svg"/></a></input>
            </form>
            <button type="button" className="button header__upload-button"><img src="/assets/icons/Icon-upload.svg"/>UPLOAD</button>
            <div className="circle-photo"></div>
        </div>
</section>
<section className="main__video">
    <div className="main__video-container">
        <video controls poster="/assets/images/video-list-0.jpg">
            <source src="/assets/video/BrainStation Sample Video.mp4" type="video/mp4">
        </video>
        <h2 className="main__video-name">BMX Rampage: 2018 Highlights</h2>
        <div className="main__author-date-container">
            <h3 className="main__video-poster">By Red Cow</h3>
            <p class="date">12/18/2018</p>
        </div>
        <div className="main__views-likes-container">
            <div><img src="/assets/icons/Icon-views.svg" alt="Views Logo">1,001,023</div>
            <div><img src="/assets/icons/Icon-views.svg" alt="Likes Logo">110,985</div>    
        </div>
        <div className="divider"></div>
        <p>On a gusty day in Southern Utah, a group of 25 daring mountain bikers blew the doors off what is possible on two wheels, unleashing some of the biggest moments the sport has ever seen. While mother nature only allowed for one full run before the conditions made it impossible to ride, that was all that was needed for event veteran Kyle Strait, who won the event for the second time -- eight years after his first Red Cow Rampage title</p>
    </div>
</section>
<section className="main__comments">
    <div className="main__comments-container">
        <h2 className="main__comments-title">3 Comments</h2>
        <div className="main__author-date-container">
            <div class="comments-section__photo"></div>
            <form class="comments-section__form">
                <label id="name" for="comment" class="comments-section__form-title">JOIN THE CONVERSATION</label>
                <br><textarea type="text" class="comments-section__form-input" name="comment" placeholder="Write comment here"></textarea>
                <button class="button comments-section__button" type="submit">COMMENT</button>
            </form> 
        </div>
        <div className="main__views-likes-container">
            <div><img src="/assets/icons/Icon-views.svg" alt="Views Logo">1,001,023</div>
            <div><img src="/assets/icons/Icon-views.svg" alt="Likes Logo">110,985</div>    
        </div>
        <div className="divider"></div>
        <p>On a gusty day in Southern Utah, a group of 25 daring mountain bikers blew the doors off what is possible on two wheels, unleashing some of the biggest moments the sport has ever seen. While mother nature only allowed for one full run before the conditions made it impossible to ride, that was all that was needed for event veteran Kyle Strait, who won the event for the second time -- eight years after his first Red Cow Rampage title</p>
    </div>
</section>
<section className="video-queue">
    
</section>