@import '../../partials/fonts';
@import '../../partials/mixins';

input, textarea {
    font-family:'Avenir';
    font-size: $h3-mobile-fontsize;

    @include tablet {
        font-size: $h3-desktab-fontsize;
    }
    @include desktop {
        font-size: $h3-desktab-fontsize;
    }
}

.upload-section {
    margin: 0 5%;

    @include tablet {
        margin: 0 3%;
    }
    @include desktop {
        margin: 0 9%;
    }

    &__divider--thin {
        border-bottom: 1px solid $circle-divider-color;
        opacity: 0.5;

    }
    &__heading { 
        margin: 32px auto;

        @include tablet {
            font-size: $hero-desktab-fontsize;
            margin: 50px 0 30px 0;
        }
        @include desktop {
            margin: 45px 0 27px 0;
        }
    }
    &__video {

        @include desktop {
            width: 55%;
            height: 15vw;
        }

        &-title {
            font-weight: 500;
            color: $small-title-color;
            letter-spacing: 0.3px;
            margin: 0;
            
            @include tablet {
                margin-top: 20px;
            }
        }
        &-thumbnail {
            width: 100%;
            max-width: 400px;
            border-radius: 5px;
            margin: 5px 0 25px 0;

            @include tablet {
                margin: 3px 0 30px 0;
                width: 50%;
                max-width: 700px;
            }
            @include desktop {
                width: 100%;
                height: 170px;
                max-width: 350px;
            }
        }
    }
    &__video-form-container {

        @include desktop {
            display: flex;
            margin-bottom: 5px;
        }
    }
    &__form-container {
        width: 100%;
    }
    &__form {

        @include desktop {
            margin: 18px 0 0 22px ;
        }

        &-title {
            color: $small-title-color;
            margin: 1% 0;
            font-size: $p-mobile-fontsize;
            font-weight: 500;
            letter-spacing: 0.5px;
        }    
        &-input {
            background-color: $secondary-background-color;
            border: 2px solid $circle-divider-color;
            outline: none;
            border-radius: 4px;
            margin: 2px 0 25px 0;
            resize: none;
            width: stretch;
            padding: 15px 15px;

            &-description {
                height: 18vh;

                @include desktop {
                    height: 6vh;
                }
            }
        }
    }
    &__divider--hidden {
        display: none;

        @include tablet {
            display: block;
            margin-bottom: 40px;
        }
        @include desktop {
            margin-bottom: 20px;
        }

        &-bottom {

            @include tablet{
                position: relative;
                bottom: 223px;
            }
            @include desktop {
                bottom: 230px;
            }
        }
    }
    &__form-options {

        @include tablet {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;    
            margin: 45px 0 130px 0;       
        }

        &-publish {
            width: 100%;

            @include tablet {
                width: 22%;
            }
            @include desktop {
                width: 27%;
            }
        }
        &-cancel {
            font-size: $h3-mobile-fontsize;
            font-weight: 600;
            color: $button-color;
            text-align: center;
            margin: 27px auto;

            @include tablet {
                margin: 0 45px;
            }
        }
    }
}